.container-sing-up {
    position: relative;
}

.form-sing-up {
  background-color: white;
  position: absolute;
  border: 1px solid #dedede;
  padding: 20px 90px 20px 90px;
  width: 50%;
  max-width: 650px;
  margin: 80px;
  left : 0;
  right : 0; 
  margin-left : auto;
  margin-right : auto;

  top: 50px;
}
.form-sing-up > form > h3 {
    text-align: center;
    padding: 20px;
    font-size: 26px;
    font-weight: 700;
    color: #FFC737;
}
.form-sing-up > form > div > p {
    padding: 8px;
    font-weight: 500;
    color: #262626;
}
.form-sing-up > form > div {
    margin: 24px;
}
.form-input-sing-up {
    width: 100%;
    padding: 10px;
    border: 1px solid #dedede;
    border-radius: 5px;
    
}

input::placeholder {
    color: #b6b6b6;
}

.but-sing-up {
    width: 90%;
    padding: 16px;
    display: block;
    margin:  40px auto;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    background-color: #FFC737;
    color: white;
    cursor: pointer;
}